$("ul.errors").html("")
<% if @track.errors.any? %>
  <% @track.errors.full_messages.each do |message| %>
    $("ul.errors").append($("<li />").html("<%= message.html_safe %>"))
  <% end %>
<% else %>
  $("#track-modal").modal("hide")
  window.location.reload();
<% end %>
