<ul class="nav navbar-nav">
  <li>
    <a href="">
      <span class="title">MAIN NAVIGATION</span>
    </a>
  </li>
  <!-- <li>
    <a href="/account/index">
      <span class="icon fa fa-home"></span><span class="title">Account</span>
    </a>
  </li> -->
  <li>
    <a href="/students/index">
      <span class="icon fa fa-shopping-basket"></span><span class="title">Students</span>
    </a>
  </li>
</ul>
