<ul class="nav navbar-nav">
  <li>
    <a href="">
      <span class="title">MAIN NAVIGATION</span>
    </a>
  </li>
  <li>
    <a href="/students/index">
      <span class="icon fa fa-shopping-basket"></span><span class="title">Students</span>
    </a>
  </li>
  <li>
    <%= link_to settings_path do %>
      <span class="icon fa fa-gear"></span><span class="title">Settings</span>
    <% end %>
  </li>
</ul>
