<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          <h4>
            <% if @student.new_record? %>
              New Student
            <% else %>
              Update Record
            <% end %>
          </h4>
        </div>
      </div>
    <div class="card-body">
      <%=simple_form_for @student do |f| %>
      <%= f.error_notification %>
        <div class="row">
          <div class="col-md-4">
            <%if @student.profile_photo.blank? %>
              <center><%=image_tag("default.png", height: 100, width: 100, :class=>"img-square -img-rounded") %></center>
            <% else %>
              <center><%= image_tag @student.profile_photo.url(:large), class: 'center-block img-responsive img-rounded'%></center>
            <% end %>
          <center><%= f.input :profile_photo, as: :file %></center>
          </div>
          <div class="col-md-3">
            <%=f.input :first_name, label: 'First Name' %>
            <%=f.input :middle_name, label: 'Middle Name' %>
            <%=f.input :last_name, label: 'Last Name' %>
            <%=f.input :gender, collection: Student.genders.keys.to_a.map {|s| [s.titleize, s]}, as: :radio_buttons, item_label_class: "radio-inline", item_wrapper_tag: false %>
          </div>
          <div class="col-md-5">
            <%=f.input :lr_number, label: 'LRN', input_html: {type: 'number'} %>
            <%=f.input :course_id, collection: Track.order(:name).all, as: :grouped_select, group_method: :courses %>
            <% unless @student.new_record? %>
              <%=f.input :year_level_id, label: 'Grade',collection: YearLevel.all, as: :radio_buttons %>
            <% end %>
          </div>
        </div>
	      <div class="modal-footer">
	        <%#= link_to 'Cancel', monitoring_project_path(@project), class: 'btn btn-default pull-left' %>
          <% if @student.new_record? %>
            <%= link_to "Cancel", students_path, class: "btn btn-default pull-left" %>
          <% else %>
            <%= link_to "Cancel", info_student_path(@student), class: "btn btn-default pull-left" %>
          <% end %>
	        <%=f.submit "Save", class: "btn btn-primary" %>
	      </div>
      <% end %>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $("#student_course_id").select2({
      theme: "bootstrap",
      width: '100%'
    });
  });
</script>