<div class="row">
  <div class="col-md-12">
    <div class="card overlap-height">
      <div class="card-header">
        <div class="card-title">
          <div class="row">
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-3">
                  <%if @student.profile_photo.blank? %>
                    <center><%=image_tag("default.png", height: 100, width: 100, :class=>"img-square -img-rounded") %></center>
                  <% else %>
                    <center><%= image_tag @student.profile_photo.url(:large), class: 'center-block img-responsive img-rounded'%></center>
                  <% end %>
                </div>
                <div class="col-md-9">
                  <h5><%=@student.fullname.try(:upcase) %></h5>
                  <p class="zero-margin">LRN: <%= @student.lr_number %></p>
                  <p class="zero-margin">Course: <%= @student.strand %></p>
                  <p class="zero-margin">Grade: <%= @student.year_level %></p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <h4 class="text-success text-center"><%=number_to_currency @student.current_subscription_payment_total %></h4>
              <h5 style="margin-bottom: 1px" class="text-muted text-center">PAYMENTS</h5>
              <% if @student.current_subscription.payments.present? %>
                <small class="text-muted"><center>Updated <%= time_ago_in_words(@student.last_payment_created_at) %> ago</center></small>
              <% end %>
            </div>
            <div class="col-md-3">
              <h4 class="text-warning text-center"><%=number_to_currency @student.current_balance %></h4>
              <h5 style="margin-bottom: 1px" class="text-muted text-center">BALANCE</h5>
              <% if @student.subscription_paid? %>
                <small class="text-danger"><center>Paid</center></small>
              <% end %>
            </div>
            <div class="col-md-2">
              <% if @student.subscription_paid? %>
                <%= link_to "Enroll", student_enroll_path(@student), class: 'btn btn-lg btn-success pull-right' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
      <div class="nav-tabs-navigation">
        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
          <li class="<%='active' if current_page? info_student_path %>">
            <%= link_to 'Info', info_student_path %>
          </li>
          <li class="<%='active' if current_page? payments_student_path %>">
            <%= link_to 'Payments', payments_student_path %>
          </li>
          <li class="pull-right <%='active' if current_page? options_student_path %>">
              <%= link_to 'Options', options_student_path %>
            </li>
        </ul>
      </div>
      <div class="content">
        <div id="my-tab-content" class="tab-content">
          <%= render '/students/partials/info' if current_page? info_student_path %>
          <%= render '/students/partials/payments' if current_page? payments_student_path %>
          <%= render '/students/partials/options' if current_page? options_student_path %>
        </div>
      </div>
    </div>
  </div>
</div>
