<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
        	<div class="row">
	          <div class="col-md-3">
	            <h4 class="title"> Students </h4>
	          </div>
	          <div class="col-md-6">
	            <%=form_tag students_path, method: :get do %>
	              <div class="input-group stylish-input-group" id="product-prefetch">
	                <%= autocomplete_field_tag "full_name", params[:full_name], autocomplete_student_full_name_students_path, class: 'form-control', placeholder: 'Search Student' %>
	                <span class="input-group-btn">
	                  <%= button_tag(type: 'submit', class: "btn btn-flat") do %>
	                    <i class="fa fa-search"></i>
	                  <% end %>
	                </span>
	              </div>
	            <% end %>
	          </div>
          	<div class="col-md-3">
	            <span class="pull-right">
	              <%= link_to "New Student", new_student_path, class: "btn btn-primary" %>
	            </span>
	          </div>
	        </div>
          <hr>
          <div class="row">
            <div class="col-md-12">
              <h4>Filter Options:</h4>
              <%= form_tag students_path, method: :get do%>
                <div class="row">
                  <div class="col-md-3">
                    <%= select_tag :track_id, options_from_collection_for_select(@tracks, "id", "name", params[:track_id]), :class => 'form-control border-input', :prompt => "-- Select Course Classification --" %>
                  </div>
                  <div class="col-md-3">
                    <%= select_tag :course_id, options_from_collection_for_select(@courses, "id", "name", params[:course_id]), :class => 'form-control border-input', :prompt => "-- Select Course --" %>
                  </div>
                  <div class="col-md-3">
                    <%= select_tag :year_level_id, options_from_collection_for_select(@year_levels, "id", "name", params[:year_level_id]), :class => 'form-control border-input', :prompt => "-- Select Grade --" %>
                  </div>
                  <div class="col-md-3">
                    <%= select_tag :balance_status, options_for_select([ "w/ balance", "w/o balance" ], params[:balance_status]), prompt: "-- Select Balance Status --", :class => 'form-control border-input' %>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-12">
                    <%=link_to "Print (PDF)", report_students_path(format: 'pdf', track_id: @track, course_id: @course, year_level_id: @year_level, balance_status: @balance_status), class: "btn btn-info active" if @students.present? %>
                    <div class=" pull-right">
                      <%= link_to "Reset Filter", students_path, class: 'btn btn-warning' %>
                      <button type="submit" class="btn btn-primary">Filter</button>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <p><%= "#{@filtered.count} result/s found." %></p>
        </div>
      </div>
      <div class="card-body">
      	<table class="table table-hover">
      		<tr>
            <th>LRN</th>
      			<th>Name</th>
      			<th>Course</th>
      			<th>Grade</th>
      			<th class="text-right">Balance</th>
      			<th></th>
      		</tr>
      		<% @students.each do |student| %>
      			<tr>
              <td><%= student.lr_number %></td>
      				<td><%= link_to student.reversed_name.upcase, info_student_path(student) %></td>
      				<td><%= student.strand %></td>
      				<td><%= student.year_level %></td>
      				<td class="text-right"><%= number_to_currency (student.current_balance) %></td>
      				<td></td>
      			</tr>
      		<% end %>
      	</table>
      	<div class="modal-footer">
          <center><%= paginate @students, :window => 1 %></center>
        </div>
      </div>
    </div>
  </div>
</div>