
<div class="tab-pane <%='active' if current_page? info_student_path %>">
  <h4>Basic Info
    <span class="pull-right">
      <%= link_to 'Update Info', edit_student_path(@student), class: 'btn btn-warning'%>
    </span>
  </h4>
  <table class="table table-striped">
    <tr>
      <td style="width:120px">Full Name: </td>
      <td><b><%=@student.full_name %></b></td>
    </tr>
    <tr>
      <td style="width:120px">Gender: </td>
      <td><b><%=@student.gender.capitalize || "N/A" %></b></td>
    </tr>
    <tr>
      <td style="width:120px">Address: </td>
      <td><b><%=@student.address_details || "N/A"%></b></td>
    </tr>
  </table>
</div>
