<div class="tab-pane <%='active' if current_page? payments_student_path %>">
	<% if !@student.subscription_paid? %>
		<%= link_to 'New Payment', new_student_payment_path(@student), class: 'btn btn-warning pull-right', remote: true %>
	<% end %>
	<h4>Payments <span class="text-muted">(<%= @student.current_subscription.name %>)</span></h4>
	<table class="table table-hover">
		<tr>
			<th>Date</th>
			<th>Amount</th>
			<th></th>
		</tr>
		<% @payments.each do |payment| %>
			<tr>
				<td><%= payment.created_at.strftime("%B %e, %Y") %></td>
				<td><%= number_to_currency payment.amount %></td>
				<td></td>
			</tr>
		<% end %>
	</table>
</div>