<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">New Payment</h4>
    </div>
    <%=simple_form_for @payment, url: :student_payments, remote: true do |f| %>
    <%= f.error_notification %>
      <div class="modal-body">
        
        <div class="row">
          <div class="col-md-6">
            <h4 class="text-warning text-center"><%=number_to_currency @student.current_balance %></h4>
            <h5 style="margin-bottom: 1px" class="text-muted text-center">BALANCE</h5>
            <hr>
          </div>
          <div class="col-md-6">
            <h4 class="text-success text-center"><%=number_to_currency @student.current_subscription_payment_total %></h4>
              <h5 style="margin-bottom: 1px" class="text-muted text-center">PAYMENTS</h5>
            <hr>
          </div>
        </div>
        <ul class="errors text-danger">
        </ul>
        <%=f.input :amount, label: 'Payment Amount', autofocus: true %>
        <%=f.input :subscription_id, input_html: { value: @student.current_subscription.id}, as: :hidden %>

	      <div class="modal-footer">
	        <%= link_to "Cancel", "#", class: "btn btn-default pull-left", data: {dismiss: "modal"} %>
	        <%=f.submit "Save", class: "btn btn-primary" %>
	      </div>
	    </div>
    <% end %>
  </div>
</div>
