$("ul.errors").html("")
<% if @payment.errors.any? %>
  <% @payment.errors.full_messages.each do |message| %>
    $("ul.errors").append($("<li />").html("<%= message.html_safe %>"))
  <% end %>
<% else %>
  $("#payment-modal").modal("hide")
  window.location.reload();
<% end %>
