<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">
        <% if @course.new_record? %>
          New Course
        <% else %>
          Edit Course
        <% end %>
      </h4>
    </div>
    <%=simple_form_for @course, remote: true do |f| %>
    <%= f.error_notification %>
      <div class="modal-body">
        <ul class="errors text-danger">
        </ul>
        <%= f.input :track_id, label: 'Course Classification', collection: Track.order(:name).all, as: :radio_buttons %>
        <%=f.input :name %>

	      <div class="modal-footer">
	        <%#= link_to 'Cancel', monitoring_project_path(@project), class: 'btn btn-default pull-left' %>
	        <%= link_to "Cancel", "#", class: "btn btn-default pull-left", data: {dismiss: "modal"} %>
	        <%=f.submit "Save", class: "btn btn-primary" %>
	      </div>
	    </div>
    <% end %>
  </div>
</div>
