<div class="row">
  <div class="col-md-6 col-md-offset-6">
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <div id="notification" class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%= content_tag :div, (msg), :id => "flash_#{name}" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
