
<footer class="app-footer">
  <div class="wrapper">
    <div class="pull-right hidden-xs">
	    <b>Version</b> 1.0.0
	  </div>
	  <strong>Email: gentechict@gmail.com <a href="#">GENTECH ICT</a>.</strong> 
  </div>
</footer>
