<div class="side-menu sidebar-inverse">
  <nav class="navbar navbar-default" role="navigation">
    <div class="side-menu-container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <div class="icon fa fa-paper-plane"></div>
          <div class="title">RPASI</div>
        </a>
        <button type="button" class="navbar-expand-toggle pull-right visible-xs">
          <i class="fa fa-times icon"></i>
        </button>
      </div>
      <%= render 'layouts/shared/sidebar_for_cashier' %>
    </div>
    <!-- /.navbar-collapse -->
  </nav>
</div>
