<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
    <body class="login">
      <%=render 'layouts/flash' %>
      <%= yield %>
    </body>
  </body>
</html>
